{% load static %}
{% include 'partial/_layout.html' %}

<head>

    <link rel="stylesheet" href="{% static '/css/ListGroup.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">        
        
</head>
<body>
    <h4 class="text-sm-center" style="color:green">Sensor Data Display</h4>
    <div class="container">
        <div class=" row">
            <div class="table-responsive">
                <table class="table user-list">
                    <tbody>
                        <tr>
                            <td>
                                <div class="col col-lg-1">
                                    <i class="material-icons" style=" font-size: 30px; color: red;">thermostat</i>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-auto">
                                    <a href="#" class="user-link">Temperature</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <h5 style="text-align:center">{{sensorsdata.Temprature}}  &ordm;C</h5>
                            </td>
                            <td width="20%">
                                <div class="col-md-auto">
                                    <a href="{% url 'data'%}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-window-maximize fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col col-lg-1">

                                    <i class="material-icons" style=" font-size: 30px; color: orange;">light_mode</i>


                                </div>
                            </td>
                            <td>
                                <div class="col-md-auto">
                                    <a href="#" class="user-link">Light</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <h5 style="text-align:center">40 lux</h5>
                            </td>
                            <td width="20%">
                                <div class="col-md-auto">
                                    <a href="#" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-window-maximize fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col col-lg-1">
                                    <i class="material-icons" style=" font-size: 30px; color: skyblue;">cloud</i>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-auto">
                                    <a href="#" class="user-link">Humidity</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <h5>{{sensorsdata.Humidity}} %</h5>
                            </td>
                            <td width="20%">
                                <div class="col-md-auto">
                                    <a href="{% url 'humidity_data'%}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-window-maximize fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col col-lg-1">
                                    <i class="material-icons" style=" font-size: 30px; color:black;">speed</i>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-auto">
                                    <a href="#" class="user-link">PH</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <h5>{{sensorsdata.PH}}</h5>
                            </td>
                            <td width="20%">
                                <div class="col-md-auto">
                                    <a href="{% url 'ph_data'%}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-window-maximize fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="col col-lg-1">
                                    <i class="material-icons" style=" font-size: 30px; color:dodgerblue;">flash_on</i>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-auto">
                                    <a href="#" class="user-link">EC</a>
                                </div>
                            </td>
                            <td class="text-center">
                                <h5>{{sensorsdata.EC}} PPM</h5>
                            </td>
                            <td width="20%">
                                <div class="col-md-auto">
                                    <a href="{% url 'ec_data'%}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-window-maximize fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </td>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</body>

