{% load static %} {% include 'partial/_layout.html' %} 

<head>
  <link rel="stylesheet" href="{% static '/css/ListGroup.css' %}" />
</head>
<body>
  <h4 class="text-sm-center" style="color: green">Enviroment Control</h4>

  <form action="" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table user-list">
            <tbody>
              <tr>
                <td width="50%">
                  <div class="col-md-auto">
                    <a class="user-link">Temprature Control</a>
                  </div>
                </td>
                <td width="20%">
                  <div class="col-md-auto">
                    <input
                      type="range"
                      name="Temp_Min"
                      id="TempratureMin"
                      name="TempratureMin"
                      min="0.0"
                      max="32.0"
                      value="{{controlParameters.Temperature_Min}}"
                      step="0.5"
                      oninput="TempratureMinDisplay.value=TempratureMin.value"
                    />
                    <label>Min Temprature: </label>
                    <output
                      id="TempratureMinDisplay"
                      name="TempratureMinDisplay"
                      for="TempratureMin"
                      onload="TempratureMinDisplay.value = TempratureMin.value"
                      >{{controlParameters.Temperature_Min}}</output
                    >
                  </div>
                </td>
                <td width="20%">
                  <div class="col-md-auto">
                    <input
                      type="range"
                      name="Temp_Max"
                      id="TempratureMax"
                      name="TempratureMax"
                      min="0.0"
                      max="32.0"
                      value="{{controlParameters.Temperature_Max}}"
                      step="0.5"
                      oninput="TempratureMaxDisplay.value=TempratureMax.value"
                    />
                    <label>Max Temprature: </label>
                    <output
                      id="TempratureMaxDisplay"
                      name="TempratureMaxDisplay"
                      for="TempratureMax"
                      >{{controlParameters.Temperature_Max}}</output
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <td width="50%">
                  <div class="col-md-auto">
                    <a class="user-link">Humidity Control</a>
                  </div>
                </td>
                <td width="20%">
                  <div class="col-md-auto">
                    <input
                      type="range"
                      name="Humidity_Min"
                      id="HumidityMin"
                      name="HumidityMin"
                      min="20"
                      max="100"
                      value="{{controlParameters.Humidity_Min}}"
                      step="5"
                      oninput="HumidityMinDisplay.value=HumidityMin.value"
                    />
                    <br />
                    <label>Min Humidity: </label>
                    <output
                      id="HumidityMinDisplay"
                      name="HumidityMinDisplay"
                      for="HumidityMin"
                      >{{controlParameters.Humidity_Min}}</output
                    >
                  </div>
                </td>
                <td width="20%">
                  <div class="col-md-auto">
                    <input
                      type="range"
                      name="Humidity_Max"
                      id="HumidityMax"
                      name="HumidityMax"
                      min="20"
                      max="100"
                      value="{{controlParameters.Humidity_Max}}"
                      step="5"
                      oninput="HumidityMaxDisplay.value=HumidityMax.value"
                    />
                    <br />
                    <label>Max Humidity: </label>
                    <output
                      id="HumidityMaxDisplay"
                      name="HumidityMaxDisplay"
                      for="HumidityMax"
                      >{{controlParameters.Humidity_Max}}</output
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="margin-left: 895px">
            <button type="submit" class="btn btn-primary">
              Change Control Parameters
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
