{% load static %} {% include 'partial/_layout.html' %}

<head>
  <!-- Include Bootstrap CDN -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static '/css/ListGroup.css' %}" />
  <link rel="stylesheet" href="{% static '/css/ListGroup.css' %}" />
  <!-- Include Moment.js CDN -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
  ></script>
  <!-- Include Bootstrap DateTimePicker CDN -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
  <h4 class="text-sm-center" style="color: green">Seedling Control</h4>

  <form action="" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="table-responsive">
          <table class="table user-list">
            <tbody>
              <tr></tr>
              <tr>
                <td width="40%">
                  <div class="col-md-auto">
                    <a href="#" class="user-link">First Feed Start</a>
                  </div>
                </td>
                <td>
                  <div class="col-md-auto" style="position: relative">
                    <input
                      class="form-control"
                      type="text"
                      name="firstFeed"
                      id="firstFeed"
                      value="{{seedling_data.FirstFeedStart}}"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="col-md-auto">
                    <a href="#" class="user-link">Second Feed Start</a>
                  </div>
                </td>
                <td>
                  <div class="col-md-auto" style="position: relative">
                    <input
                      class="form-control"
                      type="text"
                      name="secondFeed"
                      id="secondFeed"
                      value="{{seedling_data.SecondFeedStart}}"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="col-md-auto">
                    <a href="#" class="user-link">Third Feed Start</a>
                  </div>
                </td>
                <td>
                  <div class="col-md-auto" style="position: relative">
                    <input
                      class="form-control"
                      type="text"
                      name="thirdFeed"
                      id="thirdFeed"
                      value="{{seedling_data.ThirdFeedStart}}"
                    />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="col-md-auto">
                    <a href="#" class="user-link">Feed Duration</a>
                  </div>
                </td>
                <td width="20%">
                  <div class="col-md-auto">
                    <input
                      type="range"
                      id="feedDuration"
                      name="feedDuration"
                      min="0"
                      max="60"
                      step="1"
                      oninput="feedDurationDisplay.value = feedDuration.value"
                      value="{{seedling_data.FeedDuration}}"
                    />
                    <br />
                    <label>Feed Duration: </label>
                    <output
                      id="feedDurationDisplay"
                      name="feedDuratinDisplay"
                      for="feedDuration"
                      onload="feedDurationDisplay.value = feedDuration.value"
                      >{{seedling_data.FeedDuration}}</output
                    >
                    <label>min</label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div style="margin-left: 895px">
            <button type="submit" class="btn btn-primary">
              Change Control Parameters
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Below code sets format to the
      // datetimepicker having id as
      // datetime
      $("#firstFeed").datetimepicker({
        format: "hh:mm:ss a",
      });
      $("#secondFeed").datetimepicker({
        format: "hh:mm:ss a",
      });
      $("#thirdFeed").datetimepicker({
        format: "hh:mm:ss a",
      });
    </script>
  </form>
</body>
